/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
} 
/*general styles*/

* {
  border-sizing: border-box;
}
body {
  background-color: rgba(41,60,82,.8);
  position: relative;
}
/*Header styles*/
header {
  height: 25vh;
  width: 95vw;
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0rem 0.5rem 0;
  color: aliceblue;
  font-family: Kurale, 'Times New Roman', 'Open Sans', Arial, Calibri;
}
.profile_picture {
  width: 30vw;
  height: 15vh;
  text-align: center;
  font-size: 1.75rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  float: left;
  left: 5vw;
  top: 5vh;
  z-index: 2
}
img{
  border-radius: 45%;
  border: 2px solid aliceblue;
  height: auto;
  width: auto;
}
#name {
  width: 60vw; 
  height: 15vh;
  float: right;
  right: 15vw;
  top: 10vh;
  z-index: 1;
  padding: inherit;
  }
h1 {
  font-size: 2.25rem;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5rem;
  }
#experience {
  font-size: 1.25rem;
  text-align: right;
  }
.meniu {
  width: 95vw;
  height: 6vh;
  float: left;
  left: 1.5vw;
  top: 8.25rem;
  position: fixed;
  font-family: Karla, 'Times New Roman', 'Open Sans', Arial, Calibri;
  }
button{
  display: inline-block;
  border: 2px solid aliceblue;
  width: 18.75vw;
  background-color: rgba(41,60,82,.1);
  color: aliceblue;
  text-align: center;
  font-size: 1rem;
  border-radius: 20%;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
#buton_5 {
  color: red;
}
#buton_5:hover {
  color: aliceblue;
}

.articles{
  position: relative;
  top: 22vh;
}
main{
  position: absolute;
  top: 16vh;
  width: 95vw;
}